<% if (success && success.length != 0) { %>
    <div class="alert alert-success  alert-dismissible fade show" role="alert">
        <h6 class=""><%= success %> </h6>
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
