<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
</head>
<body>
    <%- include('./partials/navbar.ejs')%>
    <div class="container">
        <% for( let index = 0; index < 15; index++ ) { %>
            <div class="card mb-2">
                <div class="card-body">
                  <%- include('./partials/soundBoardHeader.ejs')%>
                </div>
            </div>
        <% } %>
    </div>
    <%- include('./partials/cdn.ejs')%>
</body>
</html>