<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row min-vh-100">
            <div class="col bg-dark text-white">
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <div class="">
                    <h1 class="fw-bolder">Create an account</h1>
                    <p>Hey, it's free! 😉</p>
                    <div class="mt-4">
                        <div class="mb-3">
                            <label for="email" class="form-label fw-bold">Email addresss</label>
                            <div class="">
                                <input type="text" name="email" class="form-control form-control-sm" id="">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="displayName" class="form-label fw-bold">Display name</label>
                            <div class="">
                                <input type="text" name="displayName" class="form-control form-control-sm" id="">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label fw-bold">Password</label>
                            <div class="">
                                <input type="password" name="password" class="form-control form-control-sm" id="">
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="confirmPassword" class="form-label fw-bold">Confirm Password</label>
                            <div class="">
                                <input type="password" name="confirmPassword" class="form-control form-control-sm" id="">
                            </div>
                        </div>
                        <div class="d-grid mb-3">
                            <button class="btn btn-primary" type="submit">Sign up</button>
                        </div>
                        <div class="mb-4 d-flex flex-column justify-content-center align-items-center">
                            <small>
                                <a href="/" >Already have an account?</a>
                            </small>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
<%- include('./partials/cdn') -%>
</html>