<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row min-vh-100">
            <div class="col-md  bg-dark d-flex align-items-center justify-content-center">
                <%- include("./partials/intro") %>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <div class="" style="width:20rem;">
                    <h1 class="fw-bolder">Sign in</h1>
                    <p>It's nice to see you here.</p>
                    <div class="mt-4">
                        <% if (error && error.length != 0 ) { %>
                            <%- include("./partials/error.ejs",{errors:[{
                                msg:error[0]
                            }]})%>
                        <% }else{ %>
                            <%- include("./partials/error.ejs")%>
                        <% } %>
                        <% include("./partials/success.ejs") %> 
                        <form action="/auth/signin" method="post">
                            <div class="mb-3">
                                <label for="email" class="form-label fw-bold">Email addresss</label>
                                <div class="">
                                    <input type="text" name="email_address" class="form-control form-control-sm" value="" id="" required>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="password" class="form-label fw-bold">Password</label>
                                <div class="">
                                    <input type="password" name="password" class="form-control form-control-sm" value="" id="" minlength="8" required>
                                </div>
                            </div>
                            <div class="d-grid mb-3">
                                <button class="btn btn-dark btn-sm" type="submit">Sign in</button>
                            </div>
                        </form>
                        <div class="b-4 d-flex flex-column justify-content-center align-items-center">
                            <small>
                                <a href="/account/reset-password" >Forgot password?</a>
                            </small>
                            <small>
                                <a href="/account/verify/resend">Resend verification email</a>
                            </small>
                            <small>
                                <a href="/auth/signup">Sign up</a>
                            </small>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
<%- include('./partials/cdn') -%>
</html>